@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* scroll-behavior */

html.smoothscroll {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'JetBrains Mono', monospace;
}