.cards-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.card.narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 70%;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card.narrow img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 5px;
}

.card.narrow .content {
    width: 100%;
    height: 40%;
}