.card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.card.wide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 400px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card.wide img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card.wide .content {
    width: 40%;
    height: 100%;
    margin-right: 20px;
}