header {
    background-image: url("$lib/images/header_bg.png");
    background-size: auto;
    background-position: center;
    backdrop-filter: blur(30px) brightness(0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}