.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    overflow-y: scroll;
    width: 75%;
    height: 75%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup .card-wrapper {
    flex-wrap: wrap;
}

.about.card {
    display: flex;
    flex: 1 0 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 20%;
    height: 280px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.about.card.long {
    height: 350px;
}

.about.card .card-header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about.card .card-header {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about.card.long .card-header {
    height: 50%;
    width: 100%;
}

.about.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.about.card .content {
    width: 100%;
    height: 50%;
    text-align: center;
}

.about.card .content h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 5px 0;
}

.about.card .content h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}

.about.card .role {
    font-size: 0.8rem;
    background-color: rgb(90, 66, 179);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 0 3px;
}