@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  @apply list-disc;
  @apply list-inside;
}

ol {
  @apply list-decimal;
  @apply list-inside;
}

.token {
    &.keyword {
        color: #ff0000;
    }

    &.operator {
        color: #000000;
    }

    &.string {
        color: #33a705;
    }

    &.function {
        color: #2b2ffd;
    }
}